* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: red;
}

a {
  text-decoration: none;
}

.button1 {
  color: #00E0D0;
}

a:hover {
  transition: linear 0.7s;
  color: #fff;
  background-color: #00E0D0;
  padding: 2em;
}

#hero-section {
  color: blue;
}

.distance {
  font-size: 1.2em;
  line-height: 20pt;
}

#our_story-section {
  padding-top: 3em;
}

.button {
  padding: .7em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #00E0D0;
  color: #00E0D0;
  background-color: #fff;
}

#box1 {
  margin-top: 5em;
  margin-bottom: 5em;
  min-width: 40%;
  height: auto;
}

#box2 {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 50%;
  height: auto;
  padding-left: 4em;
  padding-right: 5em;
}

#box3 {
  margin-left: 18%;
  width: 38%; 
  padding-right: 4em; 
}

#logoBox {
  width: 18em;
  height: auto;
  margin-left: 27rem;
  padding-top: .9em;
}

.headline {
  color: #413D4B;
  text-transform: uppercase;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bolder;
}

#contentHeadline {
  font-size: .9em;
  font-family: sans-serif;
  color: #413D4B;
}

#watch-section {
  background-image: url(images/bgk-middle.png);
  background-repeat: no-repeat;
  width: 102.5%;
  background-size: cover;
  height: 38em;
}

#youtube {
display: block;
margin: auto;
padding-top: 20%;  
width: 60px;
  
}

#headline2 {
  padding-top: 2em;
  text-align: center;
  color: #fff;
  font-size: 1em;
}

/* EXPERTISE SECTION */
#expertise-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

/* Header */
.expertise-section__header {
  color: #413d4b;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.expertise-section__header-title {
  font-size: 1.75rem;
  margin-bottom: 0.25em;
}

.expertise-section__header-text {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

/* Content */
.expertise-section__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.expertise-section__content-img {
  height: 3.5rem;
}

.expertise-section__content-title {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-weight: 700;
  color: #413d4b;
}

.expertise-section__content-text {
  font-size: 1rem;
  color: #333333;
}

/* Grid */
.expertise-section__grid-container {
  height: 85%;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(250px, 1fr));
}

@media screen and (max-width: 1250px) {
  .expertise-section__grid-container {
    width: 90%;
  }
}

.expertise-section__grid-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.5em;
}

.expertise-section__grid-item:nth-child(-n + 3) {
  border-bottom: solid 1px #ebebeb;
}

.expertise-section__grid-item:nth-child(3n - 1) {
  border-left: solid 1px #ebebeb;
  border-right: solid 1px #ebebeb;
}

#team-section {
  color: yellowgreen;
}

#contact_client-section {
  margin-bottom: 5em;
}

input {
  margin-bottom: 4%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}

textarea {
  width: 100%;
  margin-bottom: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.headline3 {
  font-size: 1.5em;
  margin-bottom: 4%;
}

#headerx {
  padding-left: 5%;
}

.pics {
  display: flexbox;
  width: 30%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

#contact_client-section {
  display: flex;
  margin-top: 5em;
}

footer {
  color: blueviolet;
}
