* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: red;
}

#hero-section {
  color: blue;
}

#our_story-section {
  color: green;
}

#watch-section {
  color: darkred;
}

#expertise-section {
  color: fuchsia;
}

#team-section {
  color: yellowgreen;
}

#contact_client-section {
  color: lightsalmon;
}

footer {
  height: 55vh;
  background-image: url("/images/bgk-footer.png");
  background-size: 100% 100%;
}
