/* <!-- <hero-section> --> */
#hero-section {
  background-image: url("images/bgk-header.png");
  /* border: 4px solid #00E0D0; */
  width: 1300px;
  height: 650px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 205px;
}

.nav-left {
  display: flex;
  align-items: center;
  color: #00E0D0;
  font: 18px Arial;
}

.nav-right li {
  list-style-type: none;
  margin: 5px 15px;
}

nav ul {
  float: left;
  width: 80%;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  padding: 20px;
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-size: smaller;
}

#header_text {
  /* border: 4px solid green; */
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(216, 211, 211);
  padding: 50px 300px 50px 340px;
}

#element {
  font-size: larger;
  color: #00E0D0;
}

#buttonLearnMore {
  border: 2px solid #00E0D0;
  font-family: sans-serif;
  text-align: center;
  justify-self: center;
  color: #00E0D0;
  font-family: sans-serif;
  border-radius: 1px;
  width: 150px;
  padding: 8px 8px 8px 8px;
  text-align: center;
}

/* end of <!-- <hero-section> --> */




#our_story-section {
  color: green;
}

#watch-section {
  color: darkred;
}

#expertise-section {
  color: fuchsia;
}


/* <!-- <team section> --> */

#team-section {
  /* border: 8px solid yellowgreen; */
  background-image: url("images/bgk-header.png");
  width: 1300px;
  height: 650px;
}

.meetTeam {
  /* border: 5px solid rebeccapurple; */
  color: rgb(228, 226, 226);
  align-items: center;
  justify-content: center;
  width: 1300px;
  height: 650px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.photos {
  /* border: 5px solid rgb(180, 172, 64); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 50px 10px 50px;  
  gap: 10px;
  
}

 .photos > div {
  border: 1px solid rgb(116, 110, 111); 
  background-color: none;
  width: 160px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
} 

h5 {
  color: #e5e5e5;
  font-family: Arial;
}

.photos p {
  color: #a9acaa;
  font-size: smaller;
  font-family: sans-serif;
}

#buttonHiring {
  border: 2px solid #00E0D0;
  font-family: sans-serif;
  text-align: center;
  justify-self: center;
  color: #00E0D0;
  font-family: sans-serif;
  border-radius: 1px;
  width: 150px;
  padding: 8px 8px 8px 8px;
  background-color: none;
}


/* end of <!-- <team section> --> */

#contact_client-section {
  color: lightsalmon;
}

footer {
  color: blueviolet;
}